# development, staging, production
NODE_ENV="development"
PORT=5000

# Supabase
SUPABASE_JWT_SECRET=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_ROLE_KEY=

# Frontend URL for CORS
CLIENT_URL=http://localhost:3000
